[core]
	autocrlf = input
[credential]
	helper = store
[user]
	name = Awcator
	email = devayya.sm@philips.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = master
[pull]
	rebase = false
[push]
	autoSetupRemote = true
