[core]
	autocrlf = input
	excludesfile = /home/awcator/.gitignore_global
	pager = delta
[credential]
	helper = store
[user]
	name = Awcator
	email = devayya.sm@philips.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = master
[pull]
	rebase = false
[push]
	autoSetupRemote = true
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	dark = true
	line-numbers = true
	side-by-side = true
	keep-plus-minus-markers = true
	syntax-theme = Dracula
	wrap-max-lines = unlimited
	wrap-left-symbol = " "
	wrap-right-symbol = " "
	wrap-right-prefix-symbol = " "
[merge]
	conflictStyle = zdiff3
[alias]
	prdiff = diff master...HEAD
