set editing-mode vim
set completion-ignore-case on
set history-size 10000
set match-hidden-files on
set print-completions-horizontally on
set show-all-if-ambiguous on
set show-mode-in-prompt on
set vi-ins-mode-string \1\e[5 q\2
set vi-cmd-mode-string \1\e[1 q\2
